body {
    display: flex;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    background-image: url('/assets/background.jpeg');
    background-size: cover;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.game {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header {
    text-align: center;
    font-size: 18px;
    color: #716b6b;
}

.head-two {
    margin-top: 20px;
}
  
.heading {
    font-size: 3em;
}

.board-container {
    display: grid;
    grid-template-rows: 150px 150px;
    grid-template-columns: 150px 150px 150px;
    grid-gap: 15px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
} 

.unclickable {
    pointer-events: none;
}

.pink {
    background-color: pink;
    transition: 0.15s;
    border-radius: 12px;
}

.pink:hover,
.pink:focus {
    background-color: rgb(248, 140, 160);
}
    
.pink:active,
.pink.activated {
    transform: translateY(10px);
}

.teal {
    background-color: rgba(0, 128, 128, 0.448);
    transition: 0.15s;
    border-radius: 12px;
}
  
.teal:hover,
.teal:focus {
    background-color: rgb(12, 156, 156) 
}   

.teal:active,
.teal.activated {
    transform: translateY(10px);
}

.yellow {
    background-color: lightgoldenrodyellow;
    transition: 0.15s;
    border-radius: 12px;
}

.yellow:hover,
.yellow:focus {
    background-color: rgb(244, 244, 92);
}

.yellow:active,
.yellow.activated {
  transform: translateY(10px);
}

.blue {
    background-color: rgba(173, 216, 230, 0.924);
    transition: 0.15s;
    border-radius: 12px;
}

.blue:hover,
.blue:focus {
    background-color: rgb(154, 223, 246);
}

.blue:active,
.blue.activated {
    transform: translateY(10px);
}

.red {
    background-color: rgb(245, 151, 135);
    transition: 0.15s;
    border-radius: 12px;
}

.red:hover,
.red:focus {
    background-color:tomato;
}

.red:active,
.red.activated {
    transform: translateY(10px);
}

.orange {
    background-color: rgba(255, 140, 0, 0.557);
    transition: 0.15s;
    border-radius: 12px;
}
    
.orange:hover,
.orange:focus {
    background-color: rgb(246, 167, 70);
}

.orange:active,
.orange.activated {
    transform: translateY(10px);
}

.info-section {
    text-align: center;
}
  
.start-button {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #716b6b;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
}
  
.start-button:hover {
    color: #716b6b;
    border-color: #888;
    outline: 0;
}
  
.info {
    font-size: 22px;
    color: #575252;
}
  
  
